

header {
    text-align: center;
}

section {
    text-align: center;
}

section > img {
    margin: 3rem;
}

.spin {
    animation-name: anim-spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anim-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

